@import "https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #303236;
  font-family: Muli;
}

.component--search {
  background: #3d3f43;
  border-radius: 5px;
  padding: 40px 45px;
}
.component--search form {
  position: relative;
  margin-bottom: 30px;
  margin-right: 40px;
}
.component--search form .search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component--search form input {
  padding-left: 53px;
  height: 50px;
  width: 100%;
  background: #303236;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  caret-color: red;
}
.component--search form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--search form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--search form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--search form input:focus {
  outline: 0;
}
.component--search h6 {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.component--search ul {
  margin-bottom: -7px;
  margin-top: 13px;
}
.component--search ul li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 7px 0;
}
.component--search ul li a:hover {
  color: #2ccdea;
  font-weight: bold;
}
.component--search ul li.active a {
  color: #2ccdea;
  font-weight: bold;
}

.component--filter-search {
  background: #3d3f43;
  border-radius: 5px;
}
.component--filter-search form {
  height: 68px;
  padding: 14px;
  display: flex;
}
.component--filter-search form .input {
  display: flex;
  align-items: center;
  flex: 1;
}
.component--filter-search form .input .search-icon {
  width: 50px;
  text-align: center;
}
.component--filter-search form .input input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.component--filter-search form .input input:focus {
  outline: 0;
}
.component--filter-search form .input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form .input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form .input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form .input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form .input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form .input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form ul {
  display: flex;
  margin-left: 15px;
}
.component--filter-search form ul li label .text {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 40px;
}
.component--filter-search form ul li label input {
  display: none;
}
.component--filter-search form ul li label input:checked + .text {
  background-color: #303236;
  color: #2ccdea;
}

.component--filter {
  background: #3d3f43;
  border-radius: 5px;
  padding: 40px 45px;
}
.component--filter form ul li {
  display: flex;
  align-items: center;
}
.component--filter form ul li:not(:last-child) {
  margin-bottom: 20px;
}
.component--filter form ul li .key {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.component--filter form ul li .value {
  flex: 1;
}
.component--filter form ul li .value input, .component--filter form ul li .value select {
  height: 50px;
  width: 100%;
  background: #303236;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
}
.component--filter form ul li .value input:focus, .component--filter form ul li .value select:focus {
  outline: 0;
}
.component--filter form ul li .value input::-moz-placeholder, .component--filter form ul li .value select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter form ul li .value input:-ms-input-placeholder, .component--filter form ul li .value select:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter form ul li .value input::placeholder, .component--filter form ul li .value select::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter form ul li .value .selectbox {
  position: relative;
  background: #303236;
  display: block;
  border-radius: 5px;
  height: 50px;
}
.component--filter form ul li .value .selectbox img {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
.component--filter form ul li .value .selectbox select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  position: relative;
  z-index: 2;
}
.component--filter form ul li.filter-button {
  margin-top: 40px;
  border-top: 1px solid #303236;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component--filter form ul li.filter-button a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 16px;
}
.component--filter form ul li.filter-button button {
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #31A5D9, #1E96A0);
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 7px 10px 5px rgba(43, 45, 48, 0.5);
}/*# sourceMappingURL=main.css.map */