@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "icon-font";

:root {
  --color: #006699;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  &:focus {
    outline: 0;
  }
}
body {
  background: #f5f6f8;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header {
  background: #fff;
  margin-bottom: 16px;
  .container {
    height: 56px;
    display: flex;
    align-items: center;
    .search {
      margin-left: 18px;
      position: relative;
      i {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
      }
      input {
        height: 32px;
        width: 100%;
        border-radius: 4px;
        background-color: rgba(#dedede, 0.32);
        font-size: 14px;
        padding: 0 15px 0 44px;
        &::placeholder {
          color: #aaaaaa;
        }
      }
    }
    .menu {
      margin: 0 auto;
      ul {
        display: flex;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 13px;
            color: #aaa;

            i {
              font-size: 20px;
            }
            span {
              display: none;
            }
            &:hover {
              color: var(--color);
            }
          }
          &.active {
            a {
              color: var(--color);
              i {
                margin-right: 5px;
              }
              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .user-menu {
    > a {
      display: flex;
      align-items: center;
      .detail {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 6px;
        .name {
          font-size: 12px;
          color: #17272f;
        }
        .status {
          font-size: 10px;
          &.online {
            color: #31b057;
          }
          &.offline {
            color: #b03131;
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        min-width: 24px;
        border-radius: 50%;
      }
      i {
        color: #a7b4cc;
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

main {
  .container {
    padding: 0 40px;
    display: flex;
    .sidebar {
      min-width: 270px;
      width: 270px;
      .widget {
        margin-bottom: 16px;
        background-color: #fff;
        border-radius: 6px;
        padding: 15px;
      }
      .widget-stats {
        background-color: #fff;
        border-radius: 6px;
        padding: 8px;
        .stat-user {
          text-align: center;
          padding-bottom: 16px;
          border-bottom: 1px solid #edf0f5;
          .cover {
            height: 43px;
            background: url("../img/cover-bg.png") no-repeat center center;
            background-size: cover;
            border-radius: 4px;
          }
          .avatar {
            margin-top: -26px;
            margin-bottom: 10px;
            img {
              width: 52px;
              height: 52px;
              border-radius: 50%;
              display: block;
              margin: 0 auto;
              border: 2px solid #fff;
            }
          }
          .name {
            font-size: 16px;
            font-weight: 500;
            color: #17272f;
          }
          .job-title {
            font-size: 14px;
            color: #aaa;
            margin-top: 4px;
          }
        }
        ul {
          padding: 0 7px 11px;
          margin-top: 20px;
          li {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            .key {
              color: #17272f;
            }
            .value {
              color: var(--color);
              font-weight: 500;
            }
          }
        }
      }

      .widget-newest{
        h6{
          font-size: 14px;
          font-weight: 500;
          color: #17272f;
          padding-bottom: 8px;
          border-bottom: 1px solid #edf0f5;
          margin-bottom: 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dropdown{
            a{
              display: flex;
              align-items: center;
              font-size: 14px;
              color: #31b057;
              font-weight: normal;
              i{
                font-size: 10px;
                color: #aaa;
                margin-left: 5px;
              }
            }
          }
        }
        ul{
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          li{
            a{
              display: flex;
              align-items: center;
              font-size: 12px;
              color: var(--color);
              padding:4px 0 ;
              &:hover{
                color: #222;
              }
            }
          }
        }
      }
      .widget-btn{
        height: 50px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #17272f;
        i{
          color: var(--color);
        }
        &:hover{
          background: var(--color);
          color: #fff;
          i{
            color: rgba(#fff, 55%);
          }
        }
        &.more{
          height: 56px;
          justify-content: center;
          font-weight: 500;
          font-size: 14px;
          color: var(--color);
          transition: 300ms background-color 300ms color;
          &:hover{
            color: #fff;
          }
        }
      }
    }
    .content {
      flex: 1;
      margin: 0 30px;
    }
  }
}
